.main_container {
  margin-top: 50px;
}
.content_wrapper {
  padding: 10px 100px;
}
.blogTop_Container {
  display: flex;
  column-gap: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.coverImageBox {
  width: 60%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--ts-box-shadow);
}

.enqureyForm_Box {
  width: 30%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.coverImage_style {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.body_container {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

.blog_contentSide {
  width: 60%;
}
.Blog_sidebar {
  width: 30%;
}

.blog_conterBox {
  box-shadow: var(--ts-box-shadow);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.footer_container {
  height: 100px;
  position: relative;
  width: 100%;
}

.dekstop_footerWrapper {
  display: block;
  margin-top: 300px;
  margin-left: 0px;
}

.mobile_footerWrapper {
  display: none;
}

@media screen and (max-width: 992px) {
  .main_container {
    margin-top: 20px;
  }

  .content_wrapper {
    padding: 5px;
  }

  .blogTop_Container {
    flex-direction: column;
  }
  .coverImageBox {
    width: 100%;
    border-radius: 10px;
    padding: 0px;
    box-shadow: var(--ts-box-shadow);
  }

  .enqureyForm_Box {
    width: 100%;
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
  }

  .body_container {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    flex-direction: column;
  }

  .blog_contentSide {
    width: 100%;
  }
  .Blog_sidebar {
    width: 100%;
  }

  .footer_container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: var(--ts-white);
    box-shadow: var(--ts-box-shadow);
  }
  .mobile_footerWrapper {
    display: block;
  }

  .dekstop_footerWrapper {
    display: none;
  }
}
