.main_container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  padding-top: 50px;
}

.blogCard_container {
  padding: 10px;
  /* border: 1px solid var(--ts-separator); */
  background-color: var(--ts-white);
  box-shadow: var(--ts-box-shadow);
  border-radius: 10px;
  width: 28%;
}

.card_imageBox {
  height: 150px;
  margin-bottom: 10px;
}

.image_style {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card_body {
  margin-bottom: 10px;
}

.blog_titleBox {
  margin-bottom: 10px;
  /* border: 1px solid var(--ts-separator); */
  height: 40px;
  overflow: hidden;
}

.title_linkStyle {
  text-decoration: none;
  color: var(--ts-heading-color);
  font-weight: 500;
  font-size: 16px;
}

.blog_sortDescreption {
  font-weight: 300;
  font-family: var(--ts-font-family) !important;
}
