.main_container {
  width: 100%;
  position: relative;
  min-height: 900px;
}

.fillter_TopBar {
  background-color: var(--ts-white);
  box-shadow: var(--ts-box-shadow);
  height: 50px;
  display: flex;
  align-items: center;
  padding: var(--layout-side-pixelpading);
  position: fixed;
  width: 100%;
  top: 50px;
  z-index: 10;
}

.listing_container {
  width: 100%;
  display: flex;
  padding: var(--layout-side-pixelpading);
  position: relative;
  top: 100px;
  column-gap: 50px;
}

.app_drawer {
  display: none;
}

.sideBarFillter_Container {
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: var(--ts-white);
  box-shadow: var(--ts-box-shadow);
}

.dekstop_fillterBarUi {
  display: block;
}

.mobile_fillterBarUi {
  display: none;
}

.projectListing_Container {
  width: calc(100% - 500px);
  position: relative;
  left: 250px;
  min-height: 1200px;
  padding: 20px;
}

.listing_rightSide {
  margin-top: 20px;
  position: fixed;
  right: 50px;
  width: 270px;
}

.footer_container {
  height: 100px;
  position: relative;
  width: 100%;
}

.dekstop_footer {
  display: block;
  margin-top: 300px;
  margin-left: 350px;
}

.mobile_footer {
  display: none;
}

@media screen and (max-width: 1290px) {
  .listing_rightSide {
    display: none;
  }
  .projectListing_Container {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 992px) {
  .listing_rightSide {
    display: none;
  }
  .main_container {
  }

  .app_drawer {
    display: block;
    background-color: gray;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0px;
    z-index: 20;
    width: 200px;
    transition: left 0.5s ease;
  }

  .Hide_app_drawer {
    display: block;
    border: 1px solid red;
    background-color: gray;
    position: fixed;
    height: 100%;
    top: 0;
    left: -200px;
    z-index: 20;
    width: 200px;
    transition: left 0.5s ease;
  }

  .fillter_TopBar {
    padding: 0px;
  }

  .listing_container {
    padding: 0px;
  }

  .projectListing_Container {
    width: 100%;
    left: 0px;
    padding: 5px;
  }

  .sideBarFillter_Container {
    bottom: -790px;
    width: 100%;
    transition: bottom 0.5s ease;
    background-color: var(--ts-white);
    box-shadow: var(--ts-box-shadow);
    z-index: 10;
  }

  .showSideBar {
    bottom: 0px !important;
    transition: bottom 0.5s ease;
    top: 10px;
    border-radius: 30px;
    padding: 20px;
  }

  .dekstop_fillterBarUi {
    display: none;
  }

  .mobile_fillterBarUi {
    display: block;
  }

  .footer_container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: var(--ts-white);
    box-shadow: var(--ts-box-shadow);
  }

  .dekstop_footer {
    display: none;
  }

  .mobile_footer {
    display: flex;
    box-shadow: var(--ts-box-shadow);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .footerTab_link {
    text-decoration: none;
    color: var(--ts-heading-color);
    padding: 5px;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--ts-font-family);
    transition: border-top 0.3s ease;
  }

  .footerTab_link:focus {
    border-top: 1px solid red;
  }

  .footerTab_icon {
    font-size: 22px;
  }
  .footerTab_text {
    font-size: 12px;
  }
}
