.main_Wrapper {
  font-family: var(--ts-font-family);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
  border-radius: 10px;
  background-color: var(--ts-white);
  padding: 0px 10px;
}

.selectButton {
  padding: 7px;
  height: auto;
  cursor: pointer;
  border: none;
  box-shadow: initial;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
}

.options_style {
  border: 1px solid var(--ts-muted);
  padding: 10px 10px;
}
