.main_container {
  box-shadow: var(--ts-box-shadow);
  background-color: var(--ts-white);
  border-radius: 5px;
  padding: 10px;
}

.form_heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
