.main_container {
  width: 100%;
  min-height: 900px;
  padding: 0px;
  font-family: var(--ts-font-family);
}

.inner_container {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.aside_Drawer {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 15%;
  left: 0px; /* calculation */
  height: 100%;
  background-color: #fff;
  z-index: 10;
  /* opacity: 0.8; */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.close_aside_Drawer {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 5%;
  left: 0%; /* calculation */
  height: 100%;
  background-color: #fff;
  z-index: 10;
  /* opacity: 0.8; */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.aside_Drawer_toogleBox {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
  font-size: 18px;
  cursor: pointer;
  color: var(--ts-primary);
  font-weight: 500;
}

.option_wraper {
  height: 100%;
  padding: 15px;
}

.close_aside_Drawer_toogleBox {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.content_side {
  position: relative;
  left: 12%; /* calculation */
  width: 88%;
  min-height: 800px;
  background-color: #f4f4f5;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.close_content_side {
  position: relative;
  left: 2%; /* calculation */
  width: 98%;
  min-height: 800px;
  background-color: #f4f4f5;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.navBar_Container {
  width: 88%;
  background-color: var(--ts-primary);
  height: 50px;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
}

.navBarTitleBox {
  color: var(--ts-white);
  font-family: var(--ts-font-family);
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.close_navBar_Container {
  width: 98%;
  background-color: var(--ts-primary);
  height: 50px;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
}

.navToogle_Box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3%;
  margin-right: 1.5%;
  color: var(--ts-white);
}

.dynimic_content_Container {
  margin-top: 50px;
  height: auto;
  padding-left: 5%;
  padding-top: 1%;
  padding-right: 5%;
  background-color: #f4f4f5;
}

.close_dynimic_content_Container {
}

@media screen and (max-width: 992px) {
  .main_container {
    width: 100%;
  }

  .aside_Drawer {
    position: fixed;
    width: 35%;
    left: 0px; /* calculation */
    height: 100%;
    background-color: #fff;
    z-index: 10;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
  }

  .close_aside_Drawer {
    position: fixed;
    width: 35%;
    left: -35%; /* calculation */
    height: 100%;
    background-color: #fff;
    z-index: 10;
    opacity: 0.8;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
  }

  .content_side {
    position: relative;
    left: 0%; /* calculation */
    width: 100vw;
    min-height: 800px;
    background-color: gainsboro;
  }

  .close_content_side {
    position: relative;
    left: 0%; /* calculation */
    width: 100vw;
    min-height: 800px;
    background-color: gainsboro;
  }

  .navBar_Container {
    width: 100vw;
    background-color: var(--ts-primary);
    height: 50px;
    position: fixed;
    top: 0px;
    display: flex;
    padding-left: 10px;
  }

  .close_navBar_Container {
    width: 100vw;
    background-color: var(--ts-primary);
    height: 50px;
    position: fixed;
    top: 0px;
    display: flex;
    padding-left: 10px;
  }

  .dynimic_content_Container {
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    /* border: 5px solid red; */
    width: 100vw;
  }
}

@media screen and (max-width: 650px) {
}
