.mainContainer {
  display: flex;
  margin-bottom: var(--ts-20-px);
  padding: 10px;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.filler_leftSide {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  row-gap: 50px;
}

.filler_rightSide {
}

@media screen and (max-width: 992px) {
  .mainContainer {
    flex-direction: column;
  }
  .filler_leftSide {
    width: 100%;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
  }
  .filler_rightSide {
    width: 100%;
  }
}
