.main_Container {
  display: flex;
  justify-content: space-between;
  color: var(--ts-heading-color);
  padding: 20px 0px;
  margin-bottom: 20px;
}

.pageTitle {
  font-size: var(--ts-heading-font-size);
  font-family: var(--ts-font-family);
  font-weight: var(--ts-font-weight-300);
  text-transform: capitalize;
}

.btn_wrapper {
}

.btnStyle {
  color: var(--ts-primary);
  background-color: var(--body-bg);
  box-shadow: inset 0 0 0 1px var(--ts-primary);
  cursor: pointer;
  padding: var(--ts-fullwidth-btn-padding);
  border-radius: var(--ts-10-border-radius);
  border: none;
  transition: background-color 300ms ease;
}

.btnStyle:hover {
  background-color: var(--ts-primary);
  color: var(--ts-white);
}
