/* styles.module.css */

.card_wrapper {
  margin: 20px;
}

.card_titleBox {
  padding: 0px 5px;
  margin-bottom: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #ed6789;
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
  background: #ffffff;
  border-radius: 16px;
  border: initial;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
}

.gallery_wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  margin-bottom: 20px;
}

.uploadImage_container {
  border: 1px solid var(--ts-separator);
  border-radius: 10px;
  width: 130px;
  height: 200px;
}

.card_body {
  padding: 10px;
}

.upload_dropBox_wrapper {
  width: 100%;
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
}

.dropBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 70%;
  flex-grow: 1;
  border: 2px dashed #dcdcdc;
}

.uploadBtn_wrapper {
  width: 30%;
}

/* Hide file input */
.imageInput {
  display: none;
}

.uploadImage_body {
  position: relative;
}

.right_IconBox {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--ts-white);
  color: var(--ts-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumblinStyle {
  width: 100%;
  height: 100%;
}

.uploadImage_footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Uplaoded_imageName {
  font-size: 14px;
  margin-bottom: 14px;
  color: #4e4e4e;
  font-family: "Nunito Sans", sans-serif;
}

.uploed_imageSize {
  color: var(--ts-primary);
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 1px;
}

.image_actionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ts-muted);
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  height: 100%;
}

.image_actionBtn {
}

.image_actionBtn:hover {
  color: var(--ts-disable-primary);
}
