.main_container {
  margin-bottom: 20px;
}

.quickLink_bar {
  background-color: #fff;
  padding: 10px;
}

.QuickLink_titleBox {
  padding: 3px 0px;
  text-transform: uppercase;
  border-bottom: 2px solid red;
  display: inline-block;
  margin-bottom: 20px;
}

.feature_cardContainer {
  display: flex;
  border-radius: 5px;
  column-gap: 10px;
  margin-bottom: 20px;
}

.featureImage_wrapper {
  border-radius: 5px;
}

.featureImage_style {
  border-radius: 5px;
  width: 100px;
  height: 70px;
}

.project_title {
  padding-top: 5px;
}
