.mobile_footer {
  display: none;
}

.footer_container {
  height: 100px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .footer_container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: var(--ts-white);
    box-shadow: var(--ts-box-shadow);
  }
  .mobile_footer {
    display: flex;
    box-shadow: var(--ts-box-shadow);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .footerTab_link {
    text-decoration: none;
    color: var(--ts-heading-color);
    padding: 5px;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--ts-font-family);
    transition: border-top 0.3s ease;
  }

  .footerTab_link:focus {
    border-top: 1px solid red;
  }

  .footerTab_icon {
    font-size: 22px;
  }
  .footerTab_text {
    font-size: 12px;
  }
}
