@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");

html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --ts-primary: #ed6789;
  --ts-disable-primary: #ed6789b2;
  --body-bg: #f9f9f9;
  --ts-white: #ffffff;
  --ts-gray: #7c7c7c;
  --ts-muted: #afafaf;
  --ts-separator: #dddddd;
  --ts-text-color: #212529;
  --ts-heading-color: #4e4e4e;
  --ts-1px-border: 1px solid #ced4da;
  --ts-card-gray: #f5f5f5;
  --ts-read-input-bg: #dddddd80;
  --ts-10-border-radius: 10px;
  --layout-side-padding: 7%;
  --layout-side-pixelpading: 0px 100px;
  --ts-font-family: "Nunito Sans", sans-serif;
  --ts-footer-dekstop-bg: #202730;
  --ts-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
  --ts-gap-20: 20px;
  --ts-20-px: 20px;
  --ts-font-weight-300: 300;
  --ts-font-weight-400: 400;
  --ts-heading-font-size: 26px;
  --ts--fullwidth-btn-font-size: 14px;
  --ts-fullwidth-btn-padding: 10px 18px;
  --mui-table-container-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
  --bs-font-family: "Roboto", sans-serif;
  --static-layout-padding: 100px 200px;
}

body {
  background-color: var(--body-bg);
  font-family: "Nunito Sans", sans-serif;
}

.error_Msg {
  color: red;
  font-size: 12px;
  margin: 10px 0px;
}

.global_PageTitle {
  font-size: var(--ts-heading-font-size);
  font-family: var(--ts-font-family);
  font-weight: var(--ts-font-weight-400);
  text-transform: uppercase;
}

.global_subHeading {
  font-weight: var(--ts-font-weight-400);
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--bs-font-family);
  text-transform: uppercase;
}

.global_subHeading2 {
  font-weight: var(--ts-font-weight-400);
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--bs-font-family);
  text-transform: uppercase;
}

.global_contentStyle {
  font-weight: var(--ts-font-weight-300);
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--bs-font-family);
}

@media screen and (max-width: 992px) {
  .global_PageTitle {
    font-size: 16px;
  }
}
