/* PriceSlider.module.css */

.priceSliderContainer {
  padding: 10px 0px;
  position: relative;
}

.title {
  margin-bottom: 5px;
  color: var(--ts-text-color);
  font-size: 16px;
  padding: 5px;
  font-family: var(--ts-font-family);
  font-weight: 500;
}

.price_sliderWrapper {
  padding: 5px;
}

.slider {
  width: 100%;
  background-color: var(--ts-muted);
  appearance: none;
  height: 3px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ed6789;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
  transition: background-color 0.3s;
}
